*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: white;
    margin: 20px 0;
}

.area{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.area .item{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.item:hover{
    background-color: rgba(0, 0, 0, 0.1);
    }

.item.r{
    border-right: 1px solid white;
}
.item.b{
    border-bottom: 1px solid white;
}

.info{
    width: 300px;
    display: flex;
    margin-top: 30px;
    border: 1px dotted white;
    padding: 10px;
}

.infoitem{
    flex: 1;
}

.infotitulo{
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.inforcorpo{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.reset{
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    padding: 10px;
    margin-top: 20px;
}